data_example/test/*
data_example/train/*
datasets/*
results/*
**/__pycache__/*
.DS_Store
dist/*
outputs/*
old_results/*
lightning_logs/*
experiment_results/*
notebooks/secondary/*
levels/*
lr_observer/*
lr_observer_v1/*
tests_italy/*
big_models*
GANS_test/*
printing_tests/*
loggings/*